.item{
  float: left;
}
.gif {
    
    float: left;
    padding: 2px;
    
}
.gif-title{
   
   color: white;
   padding: 2px;
 }
.gif-rating{
    
    color: white;
    padding: 2px;
  }
body {
    background-color: #212129;
    
  }
#body{
 
    background-color: lightslategrey;
    
  }

.pick {
   background-color: rgba(27, 38, 47, 0.226);
   color: white;
   border-radius: 7px!important;
   width: 150px;
   height: 50px;
  }

.btn{
  background-color: rgba(27, 38, 47, 0.226);
  color: white;
  border-radius: 7px!important;
  width: 150px;
 }

 @media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}